* {
    box-sizing: border-box;
}

body {
    background: #3a3646; /* Old browsers */
    background: -moz-linear-gradient(top,  #3a3646 0%, #da94b2 39%, #75bdd9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3646), color-stop(39%,#da94b2), color-stop(100%,#75bdd9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3a3646 0%,#da94b2 39%,#75bdd9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3a3646 0%,#da94b2 39%,#75bdd9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3a3646 0%,#da94b2 39%,#75bdd9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3a3646 0%,#da94b2 39%,#75bdd9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3646', endColorstr='#75bdd9',GradientType=0 ); /* IE6-9 */

    height: 100vh;
    width: 100vw;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.search {
    padding-top: 100px;
    margin-bottom: 60px;
    width: 100%;
}

.search input {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    -webkit-appearance: none;
    height: 70px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 50px;
    font-size: 28px;
    color: #fff;
    outline: 0;
    position: relative;
    z-index: 10;
}

.queue {
    width: 100%;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.queue li {
    background-color: rgba(255, 255, 255, 0.4);
    height: 70px;
    width: 100%;
    line-height: 70px;
    padding-left: 70px;
    font-size: 18px;
    color: #fff;
}

.queue li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

.results {
    background-color: rgba(255, 255, 255, 0.4);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.results.is-visible {
    display: block;
}

.results .modal {
    position: absolute;
    top: 230px;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
}

.results .modal ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

.results .modal li {
    background-color: #fff;
    height: 50px;
    width: 100%;
    padding-left: 16px;
    line-height: 50px;
    font-size: 16px;
    color: #333;
}

.results .modal li:nth-child(odd) {
    background-color: #eee;
}

.debug {
    position: fixed;
    bottom: 200px;
    width: 100vw;
    left: 0;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.debug button {
    width: 200px;
    height: 60px;
    background-color: white;
    border: 0;
    font-size: 14px;
}

.player {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 106px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    padding-right: 183px;
}

.player .player__artwork {
    height: 80px;
    width: 80px;
    border: 2px solid #fff;
    float: left;
}

.player .player__title {
    width: 80px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    float: left;
}

.player .player__play {
    float: left;
    width: 56px;
    position: relative;
    height: 80px;
}

.player .player__play:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 4px solid #fff;
    top: 10px;
}

.player .player__play:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11.5px 0 11.5px 15px;
    border-color: transparent transparent transparent #ffffff;
    top: 28px;
    left: 23px;
}

.player .player__track {
    width: calc(100% - 302px);
    float: left;
    height: 80px;
    position: relative;
    padding-left: 45px;
}

.player .player__track .bar {
    position: relative;
}

.player .player__track .bar .full {
    position: absolute;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    top: 39px;
    left: 0;
}

.player .player__track .bar .current {
    position: absolute;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
    top: 39px;
    left: 0;
}

.player .player__track .bubble {
    width: 80px;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #333;
    top: -25px;
    left: 0;
    position: absolute;
}

.player .player__duration {
    width: 80px;
    line-height: 80px;
    height: 80px;
    text-align: right;
    color: #fff;
    float: left;
}
